{% load static %} 
<!DOCTYPE html>
<html>

{% block css%}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buenos Aires</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
{% endblock %}

  <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        airesacondicionados.ba@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +569 1234 5678
                    </div>
                </div>
                <div class="ht-right">
                    <a href="#" class="login-panel"><i class="fa fa-user"></i>Ingresar</a>
                     <div class="lan-selector">
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <div class="input-group">
                                <input type="text" placeholder="Que necesitas?">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>


                        <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                        {% comment %} <li><a href="{% url 'shop' %}">Tienda</a></li> {% endcomment %}
                        <li><a href="{% url 'listar_productos_tienda' %}">Tienda </a></li>
                        {% comment %} <li><a href="{% url 'detalle_factura' %}">Detalle Factura </a></li> {% endcomment %}
                        <li><a href="#">Productos <i class="icon_bag_alt"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'agregar_producto' %}">Agregar Producto</a></li>
                                <li><a href="{% url 'lista_productos' %}">Lista Productos</a></li>
                            </ul>
                        </li>  
                        <li><a href="#">Solicitud de servicio <i class="icon_bag_alt"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'crear_solicitud' %}">Crear solicitud</a></li>
                                <li><a href="{% url 'lista_solicitudes' %}">Lista solicitudes</a></li>
                            </ul>
                        </li>
                        {% comment %} <li><a href="{% url 'servicio' %}">Servicios</a></li> {% endcomment %}
                        <li><a href="{% url 'contact' %}">Contacto</a></li>
                        <li><a href="{% url 'register' %}">Registrarse</a></li>
                        <li><a href="{% url 'login' %}">Ingresar <i class="fa fa-user"></i></a></li>
                        <li><a href="#">Carro <i class="icon_bag_alt"></i></a>
                            <ul class="dropdown">
                                <li><a href="{% url 'shopping-cart' %}">Carro de compras</a></li>
                                <li><a href="{% url 'check-out' %}">Checkout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    {% block content %}
    {% endblock %}
    
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Dirección: #989 Santa Marta, Santiago</li>
                            <li>Teléfono: +569 1234 5678</li>
                            <li>Email: airesacondicionados.ba@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Informacion</h5>
                        <ul>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Servicios</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Mi cuenta</h5>
                        <ul>
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Carro de compras</a></li>
                            <li><a href="#">Tienda</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Enterate de nuestras novedades</h5>
                        <p>Ingresa tu e-mail para recibir ofertas especiales.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Ingresa tu e-mail">
                            <button type="button">Subscribete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Integración de plataformas | Duoc UC <i class="fa fa-heart-o" aria-hidden="true"></i> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="{% static 'img/payment-method.png'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
{% block javascript_paypal %}

<script
    src="https://www.paypal.com/sdk/js?client-id=AQB7DtAmLDbggWla4HvEFAZlkSd9odvtaHUGCAcLh44lTcRLEYdCjOfv_jcmK_wHK1G0fnZwAQRfhwgx"> // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
  </script>


  <script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{importe_total_carro}}'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        alert('Transacción completada con éxito ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>

{% endblock javascript_paypal %}
    

    {% block javascript %}{% endblock %}

</html>
