{% extends 'base.html' %} 
{% load static %}



{% block content %}
<div class="container mt-3 pb-3">
    <div class="col-md-12">
    <br>
    <br>
<h2> Historial de servicios </h2> 
   <!-- {% comment %} {% if object_list %} {% endcomment %} -->
    <hr>
    <table class="table table-hover">

        <thead>
            <tr>
                
                <th>ID solicitud</th>
                <th>Rut cliente</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Tipo servicio</th>
                <th>Descripcion</th>

                <th>ID tecnico</th>
                <th>Rut tecnico</th>
                <th>Acepta fecha visita</th>
                <th>Fecha visita</th>
                <th>Estado solicitud</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            {% for historial in object_list %}
            <tr>
                
                <td>{{ historial.id_solicitud}}</td>
                <td>{{ historial.s_rut}}</td>
                <td>{{ historial.s_telefono}}</td>
                <td>{{ historial.s_correo }}</td>
                <td>{{ historial.s_tipo_servicio }}</td> 
                <td>{{ historial.descripcion_req }}</td>

                <td>{{ historial.id_tec}}</td>
                <td>{{ historial.rut_tecnico}}</td>
                <td>{{ historial.acepta_fecha_visita }}</td>
                <td>{{ historial.fecha_visita_tec }}</td> 
                <td>{{ historial.estado_ss }}</td>
                
                
               

                
                
            </tr>
            {% endfor %}
        </tbody>
</table>


</div>
</div>
{% endblock %}


