


{% extends 'base.html' %} 
{% load static %}



{% block content %}
<div class="container mt-3 pb-3">
    <div class="col-md-12">
    <br>
    <br>
<h2> Tienda BA </h2> 
   <!-- {% comment %} {% if object_list %} {% endcomment %} -->
    <hr>

    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">Precio</h4>
                        <div class="filter-range-wrap">
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="150000" data-max="500000">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                        </div>
                        <a href="#" class="filter-btn">Filtrar</a>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>Mostrar 01- 04 de 4 Productos</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">

                        

                        <div class="row">
                            
                            
                        
                            <div class="col-12">
                                <div class="row">

                                    {% for bodegaproducto in object_list %}
                                        <div class="col-md-3 col-sm-12 col-lg-4">
                                            <div class="card" style="width: 100%">
                                                <img src="{% static 'images/modelo3.jpg'%}" width="180" height="100">

                                                <div class="card-body">
                                                    <h5 class="card-title"> {{ bodegaproducto.nombre_producto}} </h5>
                                                    <p class="card-text"> {{ bodegaproducto.marca }} </p>
                                                    <p class="card-text"> $ {{ bodegaproducto.precio }} </p>

                                                </div>
                                                <div class="card-footer text-center">
                                                    <a href="{% url 'agregar' bodegaproducto.id_producto %}" class="btn btn-primary">Agregar</a>
                                                    <br><br>
                                                    <a href="{% url 'actualizar_stock' bodegaproducto.id_producto %}" class="btn btn-success">Actualizar stock</a>

                                                </div>

                                            </div>

                                        </div>

                                    {% endfor %}
                                    
                                </div>

                            </div>
                           
                            
                            
                        </div>

                        
                    </div>
                    <div class="loading-more">
                        <i class="icon_loading"></i>
                        <a href="#">
                            Cargar más
                        </a>
                    </div>

                    <br><br><br><br>
                    
                    
                </div>
                
                
            </div>
        </div>
        <div style="float:center;">
            <!-- <p style="color: black;"> Total: ${{importe_total_carro}}</p> -->

            {% include 'bodegaProducto/widget.html' %}
        </div>
    </section>



    


</div>
</div>

{% endblock %}



    



