

<table class="table table-bordered" style="color: black; ">

    <thead class="thead-light">
        <tr>
            <th colspan="5" class="text-center" >
                   <h4> Detalle compra</h4> 
            </th>

        </tr>

        <tr>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th> </th>

        </tr>
    </thead>

    <tbody>
        
        {% if request.session.carro.items %}
            
            {% for key, value in request.session.carro.items %}

                <tr class="text-center">

                    <td>{{value.id_producto}}</td>
                    <td>{{value.nombre_producto}}</td>
                    <td>{{value.marca}}</td>
                    <td>{{value.precio}}</td>
                    <td>{{value.cantidad}}</td>

                    <td>
                        
                        <!-- <a href="{% url 'agregar' value.id_producto %}" class="btn btn-success">Agregar</a> -->
                        <a href="{% url 'eliminar' value.id_producto %}" class="btn btn-secondary">Eliminar</a>
                        
                        <!-- $ {{value.precio}} -->
                    </td>
                    



                </tr>
                
            {% endfor %}
                
        {% else %}
            <tr>
                <td colspan="5">
                    <div class="alert alert-danger text-center">
                        Sin productos
                    </div>

                </td>
            </tr>

        {% endif %}
        
                

    </tbody>

    <tfoot>
        <tr>
            <td colspan="5">

                <b>Total: ${{importe_total_carro}}</b>
                


                

            </td>

            
            
        </tr>

    </tfoot>
    
</table>
<a href="{% url 'limpiar' %}" class="btn btn-secondary" style="float: right;">Limpiar</a>
<br>
<br>
    <br>
<div >
  <u style="color: orange;"> <h3 style="color: orange;">  <b> Sección de pagos   </b></h3></u>  <br><br>

    <div id="paypal-button-container" ></div>

</div>
{% block javascript_paypal %}
    
{% endblock javascript_paypal %}